*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;;
}

input:not([type="radio"]):not([type="checkbox"]), button {
    appearance: none;
    border:none;
    outline: none;
    background: none;
    cursor: initial;
}

body {
    background-color: bisque;
    color: rgb(169, 79, 24);
}

section {
    margin-top: 4vw;
    margin-bottom: 4vw;
    margin-bottom: 2vw;
    padding-left: 10%;
    padding-right: 10%;

}

h3{
    color: rgb(169, 79, 24);
    font-size: 3vw;
    font-weight: 400;
    margin-bottom: 2vw;
}

h4{
    color: rgb(154, 130, 100);
    font-size: 2.5vw;
    font-weight: 500;
    margin-bottom: 1vw;
}

.greeting .title{
    display: flex;
}

.greeting .title input{
    margin-left: 1vw;
    flex: 1 1 0%;
    min-width: 0;
}
.greeting .title,
.greeting .title input {
    color: rgb(169, 79, 24);
    font-size: 4vw;
    font-weight: 500;
    

}
.create-todo input[type="text"] {
    display: block;
    width: 100%;
    font-size: 3vw;
    padding: 1vw 1.25vw;
    color: rgb(169, 79, 24);
    background-color: rgb(251, 234, 212);
    border-radius: 0.75vw;
    margin-bottom: 2vw;
}
.create-todo .options {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2vw;
    margin-bottom: 2vw;
}

.create-todo .options label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    background-color: rgb(251, 234, 212);
    border-radius: 0.75vw;
    cursor: pointer;
}
input[type="radio"],
input[type="checkbox"] {
    display: none;
}
.bubble {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid green;

}

.bubble.personal {
    border: 2px solid rgb(30, 87, 179);
}

.bubble::after {
    content: "";
    display: block;
    opacity: 0;
    width: 0px;
    height: 0px;
    background-color: green;
    border-radius: 50%;
}

.bubble.personal::after {
    background-color: rgb(30, 87, 179);
}

input:checked ~ .bubble::after {
    width: 10px;
    height:10px;
    opacity:1;
}
.create-todo .options label div {
    font-size: 3vw;
}

.create-todo input[type="submit"] {
    display: block;
    width: 100%;
    font-size: 2.3vw;
    padding: 1vw 0.5vw;
    color: rgb(169, 79, 24);
    background-color: rgb(244, 200, 142);
    border-radius: 0.5vw;
    cursor: pointer;
}
.create-todo input[type="submit"]:hover {
    background-color: whitesmoke;
}

.create-todo .list {
    margin: 0.75vw 0;
}

.todo-list .todo-item {
    display: flex;
    align-items: center;
    background-color: rgb(241, 210, 159);
    padding: 2vw;
    border-radius: 1vw;
    margin-bottom: 1vw;
}
.todo-item label {
    display: block;
    margin-right: 3vw;
    cursor: pointer;
}

.todo-item .todo-content {
    flex: 1 1 0%;
}

.todo-item .todo-content input {
    color: rgb(169, 79, 24);
    font-size: 2.5vw;
}

.todo-item .actions {
    display: flex;
    align-items: center;
}
.todo-item .actions button {
    display: block;
    padding: 1vw;
    border-radius: 1vw;
    color: rgb(169, 79, 24);
    cursor: pointer;
}

.todo-item .actions button:hover {
    background-color: whitesmoke;
    color:rgb(252, 147, 147);
}

.todo-item .actions .edit {
    margin-right: 1.5vw;
    background-color: whitesmoke;
}

.todo-item .actions .edit:hover {
    background-color: rgb(248, 170, 76);
    color:rgb(169, 79, 24);
}

.todo-item .actions .delete {
    background-color: rgb(252, 147, 147);
    color:antiquewhite
}
.todo-item.done .todo-content input {
    text-decoration: line-through;
    color: grey;
}
